#artikel-table {
    table-layout: fixed; 
    width:100%;  
    white-space: nowrap;
    min-width: 1200px;
}

#text-div {
    line-height: 1.6;
    max-width: 80%;
}

#big-div {
    margin-top: 50px;
}

.artikel-span:hover {
    background-color: #eaeaea;
}

.artikel-span {
    cursor: pointer;
}