body {
    font-family: Arial;
}

#artikel-table {
    table-layout: fixed; 
    width:100%;  
    white-space: nowrap;
}

#text-div {
    line-height: 1.6;
    margin: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    color: #333;
}