body {
    font-family: Arial;
}

#artikel-iframe {
    position:absolute;
    width:100%; 
    height:100%;
    z-index: 1;
}

#artikel-table {
    table-layout: fixed; 
    width:100%;  
    white-space: nowrap;
}

#text-div {
    z-index: 2;
}
