.leftdiv {
    float: left;
    padding: 10px;
    width: 45%;
}

.rightdiv {
    float: right;
    padding: 10px;
    width: 45%;
}

.german-paragraph, 
.russian-paragraph {
    vertical-align: top;
}

.german-paragraph {
    visibility: hidden;
}

