.leftdiv {
    float: left;
    padding: 10px;
    width: 40%;
}

.rightdiv {
    float: right;
    padding: 10px;
    width: 40%;
}

.german-paragraph {
    visibility: hidden;
}

.russian-paragraph,
.german-paragraph {
    height: 80px;
}