body {
    font-family: Arial;
    margin-bottom: 50px;
}

a {
    /* Remove text decoration (underline) */
    text-decoration: none;
  
    /* Remove default link color */
    color: inherit;
  }
  