body {
  font-family: Consolas;
  }

#maindiv {
  color:red;
  }

#word-order {
  display: none;
}

#aux-verb {
  display: none;
}

#perfekt-verb {
  display: none;
}

#vowel-verb {
  display: none;
}

#pref-verb {
  display: none;
}

#cases {
  display: none;
}

#adjectives {
  display: none;
}

#pron-spell {
  display: none;
}

#preposition {
  display: none;
}

#modal-verb {
  display: none;
}
  